#{extends 'main.html' /}
#{set title:'Polygon overlay' /}

<section class="ui segment">
  <h4>Marker locations</h4>
  <button type="button" onclick="start()">Start</button>
  <button type="button" onclick="stop()">Stop</button>
  <button type="button" onclick="filter()">Filter</button>
  <button type="button" onclick="reset()">Reset</button>
  </section>
<section class="ui segment">
  <div id="googleMap" style="width:90%;height:400px;"></div>
</section>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="@{'public/javascripts/polygon.js'}"></script>